<h1>操作説明</h1>
<h2>はじめに</h2>
<p>　ニューラルネットワークは動物の脳にあるニューロンを数学的に模式化し、結合させたものです。</p>
<p>　結合の仕方、学習の仕方によりさまざまなニューラルネットワークを作成することができますが、今回、その１つである「多層パーセプトロン」の動作を示すものをRuby on Rails で作成しました。</p>
<p>　パーセプトロンは、以下のような多入力-多出力のブラックボックスだと思って下さい。ニューロン間の結合を強めたり、弱めたりすることで、ある入力に対する出力を変えることができます。この結合度を適切に変えることを学習といいます。</p>
<%= image_tag "network.png" %>
<p>　多層パーセプトロンの学習は自身のみで学習することはできず、外部から教師信号を与えることにより結合度を変更します。</p>
<p>　多層パーセプトロンは、人間が見つけることのできない信号列のルールを見つけることができます。そのルールに従い、学習していない値に対する予測も行うことができます。このような用途から、データマイニングの分野や、各種認識処理などに利用されます。</p>

<h2>動作環境</h2>
Rubyのバージョン等は以下の通りです。
<ul>
  <li>Ruby：2.0.0</li>
  <li>Rails：4.0.1.rc4</li>
  <li>PostgreSQL：0.15.1</li>
</ul>

<h2>操作方法 -XORを認識するニューラルネットワークを例に-</h2>
<ol>
<li>
<p><a href="http://intense-escarpment-1124.herokuapp.com/networks">http://intense-escarpment-1124.herokuapp.com/networks</a>にアクセスします。</p>
</li>
<li>
<p>以下の画面が表示されますので、新規作成をクリックします。</p>
<%= image_tag "img-1.jpg" %>
</li>
<br />
<li>
以下の画面が表示されますので、以下のように入力して、「Create Network」のボタンを押します。
<ul>
  <li>[ネットワーク名]：XOR</li>
  <li>[入力ニューロンの数]：2</li>
  <li>[中間ニューロンの数]：3</li>
  <li>[出力ニューロンの数]：1</li>
</ul>

<%= image_tag "img-2.jpg" %>
</li>
<br />

<li>
<p>これで、多層パーセプトロンを作成することができました。次に教師信号を設定します。「XOR」をクリックします。</p>
</li>
<li>
<p>以下の画面が表示されます。結合度は、ニューロン間の結合の強さを表します。<br />
また、間にセミコロンがあると思いますが、そこが各レイヤの境界になります。
すなわち、「入力層‐中間層の結合度」「；」「中間層‐出力層の結合度」という見方です。
画面の例では、0.1829から-0.0087までが入力層‐中間層の結合度で、それ以降が中間層‐出力層の結合度です。
</p>
<p>
では実際に結合度を変えるための教師信号を作ってみます。XORは「0,0→0」「0,1→1」「1,0→1」「1,1→0」の４つの分類があるため、まず、最初の「0,0→0」を作ります。
</p>
<p>「Create Teacher」と書かれたボタンの左側にあるテキストボックスに「0,0,0」と入れてください。この意味は、最初の２つがニューラルネットに入れる入力信号です。最後の0は入力「0,0」に対する出力になります。入力が終えたら「Create Teacher」のボタンを押してください。同様に、他の３つの教師信号を入れて下さい。（それぞれ、「0,1,1」「1,0,1」「1,1,0」を登録。）</p>
<br />
<%= image_tag "img-3.jpg" %>
</li>
<br />
<li>
<p>今度は、実際にこの教師信号を用いて、学習させてみます。「Home」をクリック後、「学習」のリンクをクリックしてください。画面上に教師信号の誤差が表示されます。この誤差が０に近づけば近づくほど、学習が正しいことを示しています。もし、何度やっても学習がうまくいかない場合は、一度このニューラルネットワークを削除し（削除のリンクをクリックすることで消すことができます。）、中間層のニューロンを増やしたりなど、パラメータを調整してみてください。</p>
<%= image_tag "img-4.jpg" %>
</li>
<br />
<li>
<p>最後に、正しく学習されているか、ネットワークの出力を確認してみます。「XOR」をクリックします。
以下の画面が表示されますが、結合度が以前と変わっているのがわかると思います。</p>
<%= image_tag "img-5.jpg" %>
<p>ここで、「1,1,0」のリンクをクリックします。これは入力ニューロンにそれぞれ1を入れたときのネットワークの出力を確認できます。学習しているためネットワークの出力が0になっていればよいことになります。
実際の出力は以下です。完全には０ではありませんが０に近づいていることがわかります。学習を繰り返すうちに０に近づくことを調べてみてください。</p>
<%= image_tag "img-6.jpg" %>
</li>
</ol>

