<h1>ニューラルネットの情報</h1>

<p>ネットワーク名 : <%= @network.title %></p>
<p>入力ニューロンの数 : <%= @network.input %></p>
<p>中間ニューロンの数 : <%= @network.middle %></p>
<p>出力ニューロンの数 : <%= @network.output %></p>
<p>結合度 : <%= @network.weight %></p>



